body {
    height: 100vh;
    background-color: #EDB579;
}

ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 5px 0 5px 0;
    margin: 0 20px 0 0;
}

a:hover {
    color: unset;
}

a:active {
    color: unset;
}

li {
    width: 80px;
    height: 30px;
    background-color: #455C4F; 
    border-style: solid;
    border-color: coral;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #DBE6AF;
    text-decoration: none;
    font-size: 18px;  
}

.navbar {
    background-color: #6D7696;
}

.home-img {
    width: 50vw;
}

.title {
    font-family: cursive;
    text-align: center;
    color: #59484F;
    font-size: 40px;
    margin-top: 0;
}

.home-text {
    font-size: 25px;
    font-weight: bold;
}

.main-text {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.test-about-shop {
    display: flex;
    padding-top: 10px;
}

.menu-of-shop {
    display: flex;
    justify-content: space-evenly;
}

.menu-item {
    width: 300px;
    height: 330px;
    border-color: #455c4f;
    border-style: solid;    
}

.menu-item-img {
    width: 300px;
    height: 210px;
    cursor: pointer;
}

.menu-of-shop p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.menu-item-name {
    color:#59484F;
}

.price {
    padding-top: 22px;
}

.discount {
    position: absolute;
    top: 75vh;
    width: 790px;
    text-align: center;
    left: calc((100vw - 790px) / 2);
    animation: linear; 
    animation-name: discountText;
    animation-duration: 4s;
}

@keyframes discountText {
    0%   { left: 15vw;  }
    66%  { left: calc(85vw - 790px); }
    100% { left: calc((100vw - 790px) / 2); }
}

.discount-text {
    text-align: center;
    font-size: 35px;
    color: rebeccapurple;
}
