<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='confirm_order.css') }}">
        <title>Confirm order</title>
    </head>
    <body>
        <div>
            <p>{{client}}, an email has been sent to your email {{email}}</p>
            <p>with a confirmation and the invoice for your order.</p>
            <p>The cost of your order: {{total_sum}}€.</p>
            <p>The total cost of your order including delivery: {{total_delivery}}€.</p>
            <p>Order will be delivered to {{address}}.</p>
            <p>Your discount is:{{discount}}€.</p>
            <p class="message_not_deliv">{{message_not_deliv}}</p>
        </div>
    </body>
</html>