<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='confirm_order.css') }}">
        <title>Confirm order</title>
    </head>
    <body>
        <div class="main_container">
            <div class="main_container_text">
                <h1>{{text_head}}</h1>
                <p>{{text_email}}</p>
                <div class="order_container">{{text_order}}</div>
                <p>The cost of your order: {{total_sum}}€.</p>
                <p>The total cost of your order including delivery: {{total_delivery}}€.</p>
                <p>{{address}}</p>
                <p>Your discount is: {{discount}}€.</p>
                <p class="message_not_deliv">{{message_not_deliv}}</p>
            </div>
        </div>
    </body>
</html>
