<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='order.css') }}">
    <title>Order</title>
</head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('order') }}">Order</a></li>
            </ul>
        </div>      
        <div class="container">
            <div class="add-info">
                <div class="add-info-text" id="discount">
                    When ordering 20€ or more you get a 5% discount!
                </div>
                <div class="add-info-text" id="delivery">
                    We deliver in Munich for orders of 15€ or more.
                </div>
            </div>
            <form method="post">
                <h1 class="heading">Create you order</h1>
                <div class="form-input">
                    <label>Enter your name: <input name="clientname" type="text" required /></label>
                </div>
                <div class="form-input">  
                    <label>Enter your email: <input name="email" type="email" required /></label>
                </div>
                <div class="form-input">
                    <label>Enter your address in Munich: <input name="address" type="text" required /></label>
                </div>
                <div class="form-input">
                    <label>
                        Vareniki(7€/kg pack): <input name="nvareniki" type="number" value="0" min="0" oninput="validity.valid||(value='')"/>
                    </label>
                </div>
                <div class="form-input">  
                    <label>
                        Cabbage rolls(8€/500g pack): <input name="ncabrolls" type="number" value="0" min="0" oninput="validity.valid||(value='')"/>
                    </label>
                </div>
                <div class="form-input">
                    <label>
                        Cheese pancakes(6€/500g pack): <input name="ncheesepancakes" type="number" value="0" min="0" oninput="validity.valid||(value='')"/>
                    </label>
                </div>
                <div class="form-input">  
                    <label>
                        Pancakes with salmon(8€/500g pack): <input name="npancakessalmon" type="number" value="0" min="0" oninput="validity.valid||(value='')"/>
                    </label>
                </div>        
                <div><input  type="submit" value="Send"></div> 
            </form>
        </div>
        <div class="contact-info">
            <pre>CONTACT INFO:       Phone: 0151-000-0000       Hours of operation: 8am - 8pm Monday - Sunday</pre>   
        </div> 
         
        <script src="{{ url_for('static', filename='order.js') }}"></script>  
    </body>
</html>